.link {
    text-decoration: none;
    outline: none;
}

.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container li {
    list-style-type: none;
    
}

.card__wrapper {
    width: 216px;
    margin: 20px;
    position: relative;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.name__wrapper {
    color: var(--theme-default-card-text);
    background-color: var(--theme-default-card-background);;
    height: 70px;
    border-radius: 0 0 3px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.empty_page {
    text-align: center;
    color: var(--theme-default-text);
}