.card__container {
    position: relative;
}




.list__item:hover {
    background-color: #EC1D25;
}

.list__item:hover .text__wrapper:before {
    border-left: 30px solid #EC1D25;
}


.text__wrapper {
    height: 50px;
}

.text__wrapper:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    
    border-bottom: 30px solid var(--theme-default-card-border-bottom);
    border-left: 30px solid var(--theme-default-card-border-left);
    transition: .7s;
    
}

.list__item {
    width: 200px;
    margin: 20px;
    border-radius: 3px;
    background-color: var(--theme-default-card-background);
    transition: .7s;
}

.list__item a {
    text-decoration: none;
    color: var(--theme-default-card-text);
    font-weight: 600;
    text-align: center;
}

.list__item a:hover {
    color: #fff;
}

.character__img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 3px 3px 0 0;
}