.page__wrapper {
   display: flex;
   justify-content: center;
}

.block__wrapper {
    margin-top: 55px;
    height: 700px;
}

.character__name {
    background-color: #EC1D25;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    padding: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-left: 5px solid #EC1D25;
    border-radius: 3px;
    padding: 10px;

}


@media screen and (max-width: 694px) {
    .container {
        width: 216px;
    }
}