.container {
    height: 100vh;
    position: relative;
}

.message__wrapper {
    padding: 15px;
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.message {
    color: #5BDD6D;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.button {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 2px solid #5BDD6D;
    color: #5BDD6D;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
}

.button:hover {
    background-color: #5BDD6D;
    color: #fff;
}